
/*Elimina márgenes y rellenos que vienen por defecto*/
* {
    margin: 0;
    padding: 0;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto; /*Esta es la estructura de toda la página en 3 filas: header, main y footer */
    min-height: 100vh; /*Hace que el footer siempre esté al final*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Layout principal*/
.container-principal {
    display: grid;
    /*Crea una columna que esta fija */
    /*Para el menú lateral 240px y otra flexible para los demás contenidos */
    grid-template-columns: 240px 1fr;
}

/*Se desactiva el menú hamburguesa*/
.btn-hamburguesa, #menu-hamburguesa {
    display: none;
}

header {
    display: flex; /*Alinea logo y título horizontalmente */
    justify-content: space-between; /* Espacia logo y título a los extremos */
    align-items: center; 
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: black;
    padding: 15px 30px;
    z-index: 20; 
    /*Hace que el header esté por encima de otros elementos */
    /*Hace que no se deforme el header cuando se utilice en pantallas pequeñas */
}

header h1 {
    font-size: 34px;
    color: white;
}

.logo { 
    width: 100px;
    height: auto;
}

/*Menu*/

nav {
    background-color: black;
    min-height: 100%;
    border-right: 2px solid black;
}

.titulo-nav {
    text-align: center;
    background-color: #1a1a1a;
    padding: 20px;
    font-size: 28px;
    font-weight: bold; 
    color: white;
    border-bottom: 2px solid black;
}

.nav-lista, .submenu {
    list-style: none;
}

nav, .nav-lista li {
    border-bottom: 2px solid black;
    background-color: white;
}

.nav-lista li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s; /*Animación suave al pasar el mouse */
    font-weight: bold;
}

.nav-lista li a:hover {
    background-color: #2b2b2b;
    color: white;
}

.submenu {
    display: none; /* Oculta el submenú al principio*/
    background-color: black;
    margin-left: 15px;
    border-left: 2px solid black;
}

.submenu li a {
    font-size: 14px;
    padding-left: 25px;
}

/*Al poner el mouse sobre el padre (en este caso Modelos AMG), el submenu cambia a bloque y se vuelve visible*/
.nav-lista li:hover .submenu {
    display: block;
}

/*Contenido*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Muestra las tarjeta en tres columnas*/
    gap: 25px;
    padding: 30px;
    background-color: white;
    border: 2px solid black;
}

.seccion-auto {
    display: flex; /* Pone la imagen y texto dentro de la tarjeta verticalmente */
    flex-direction: column; /*Alinea las tarjetas una debajo de otra*/
    min-width: 320px;
    background-color: #111111;
    overflow: hidden;
    border: 2px solid black;
}

.seccion-auto:hover {
    transform: translateY(-8px);
    /* Cuando pasas el mouse se mueve un poco para arriba la tarjeta*/
}

.link-auto {
    text-decoration: none;
}

.img-auto {
    width: 100%;
    height: 200px;
    object-fit: contain; /*Sirve para que no se recorte la imagen del auto*/
    display: block;
    background: grey;
    border-bottom: 2px solid black;
}

.inicio {
    grid-column: 1 / -1; /*Ocupa todo el ancho de las columnas*/
    background-color: #111111;
    padding: 25px;
    color: white;
    border: 2px solid black;
}

.inicio h2 {
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.inicio h3 {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.inicio p {
    font-size: 16px;
    line-height: 1.7;
}

.contenido-auto {
    padding: 20px;
}

.contenido-auto h2 {
    color: white;
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: bold;
}

.contenido-auto p {
    line-height: 1.6;
    color: white;
    font-size: 15px;
}

/*Pie de la página*/
footer {
    background-color: black;
    padding: 20px;
    text-align: center;;
    color: white;
    font-size: 14px;
}

/*Carrusel*/
.carrusel {
    grid-column: 1 / -1; /*Ocupa el ancho de las tres columnas*/
    width: 100%;
    aspect-ratio: 12 / 5; /*Mantiene la relación aspecto*/
    /*Sirve para que el carrusel mantenga el tamaño de la imagen*/
    max-height: 450px;
    overflow: hidden;
    /*Recorta las fotos que no caben en el ancho del carrusel*/
}

.slides {
    display: flex; /*Pone las fotos en fila una al lado de la otra*/
    height: 100%;
    width: 400%; 
    animation: carrusel 16s infinite;
    will-change: transform; /*Sirve para que no se trabe la animación*/
}

.slides img {
    width: 25%; 
    height: 100%;
    object-fit: cover; /*Recorta la imagen para llenar el espacio sin deformarse*/
    object-position: center center;/*Centra el recorte de la imagen*/
}

@keyframes carrusel {
    /*Muestra la primera foto (0% al 20%) */
    0%, 20% { transform: translateX(0); } 

    /*Va a la segunda foto (25% al 45%) */
    25%, 45% { transform: translateX(-25%); } 

    /*Se desplaza a la tercera foto (50% al 70%) */
    50%, 70% { transform: translateX(-50%); } 

    /* Termina en la cuarta foto (75% al 95%) */
    75%, 95% { transform: translateX(-75%); } 

    /*Vuelve al inicio (100%) */
    100% { transform: translateX(0); }
}


/*Responsive tablet*/
@media (max-width: 768px) {

    .container-principal {
        grid-template-columns: 1fr; 
        /*El layout pasa a una columna*/
    }

    .btn-hamburguesa {
        display: block; /*Muestra el boton hamburguesa*/
        font-size: 30px;
        color: white;
    }

    header {
        position: sticky; /*Fija el header cuando scrolleas*/
        top: 0;
        padding: 15px 20px;
    }

    header h1 {
        font-size: 26px;
    }

    nav {
        display: block;
        position: fixed; /*Deja el menú estatico*/
        /*No uso el sticky pq no sirve para menús que se desplegan*/
        min-height: 20%;
        width: 100%;
        background-color: white;
        transform: translateY(-110%); /*Oculta el menú arriba fuera de pantalla*/
        transition: transform 0.3s ease;
        z-index: 10;
    }

    /*Si el checkbox está puesto, se mueve el menú hacia abajo (posicion 0)*/
    #menu-hamburguesa:checked ~ .container-principal nav {
        transform: translateY(0);
    }


    .nav-lista {
        display: block;
    }

    .nav-lista li {
        width: 100%;
        border-bottom: 2px solid black;
    }

    .submenu {
        position: static;
        width: 100%;
    }

    main {
        grid-template-columns: 1fr 1fr; /*Las tarjetas se muestran en 2 columnas*/
        padding: 20px;
        gap: 20px;
    }

    .seccion-auto {
        min-width: 0;
    }

    .carrusel {
        aspect-ratio: 16 / 9;
        max-height: 280px;
    }

    .img-auto {
        height: 200px;
    }
}

/*Responsive en Celulares*/
@media (max-width: 480px) {

    header h1 {
        font-size: 22px;
    }

    main {
        grid-template-columns: 1fr; /*Se muestra todo en una columna*/
        padding: 15px;
        gap: 15px;
    }

    .carrusel {
        aspect-ratio: 4 / 3;
        max-height: 220px;
    }

    .inicio h2 {
        font-size: 24px;
    }

    .inicio p {
        font-size: 15px;
    }

    .img-auto {
        height: 180px;
    }

    .contenido-auto h2 {
        font-size: 22px;
    }

    .contenido-auto p {
        font-size: 14px;
    }
}